{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item list-group-item-action active">Dane klienta</li>
                {% for key,prop in customer %}
                    <li class="list-group-item"><b>{{key}}</b>: {{prop}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}