{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
           <h4>Dane identyfikacyjne</h4>
           <ul>
            {% for key,prop in customer %}
                <li><b>{{key}}</b> - {{prop}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}