{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <h3>Panel logowania</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <form method="post">                
                <input type="hidden" name="csrf_token" value="{{getSession('csrf_token')}}">
                <label for="">Login</label>
                <input type="text" name="login" id="login">
                <label for="">Password</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="login">
            </form>
        </div>
    </div>
</div>
{% endblock %}