{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <h6>Index</h6>
            <h2>{% if user %}Witaj! {{user['first_name']}}{% else %}not logged{% endif %}</h2>
        </div>

    </div>
</div>
{% endblock %}