{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            main html
witaj swiecie main

<h4>rand num : {{rand_num}}</h4>
        </div>
    </div>
</div>
{% endblock %}