{% extends 'admin/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <h3>Admin panel</h3>
        </div>
    </div>
</div>
{% endblock %}